@{ 
    ViewBag.Title = "Home";
}
<h2>View jobs by:</h2>
<ul>
    @foreach (KeyValuePair<string, string> action in ViewBag.actions)
    {
        <li><a href="/@action.Key">@action.Value</a></li>
    }
</ul>