@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>@ViewBag.title</h1>
@if (ViewBag.jobs != null)
{

    <h3>@ViewBag.jobs.Count Result(s)</h3>
    @foreach (Dictionary<string, string> dic in ViewBag.jobs)
    {
        @foreach (KeyValuePair<string, string> keyValuePair in dic)
        {
            <p>@keyValuePair.Key:@keyValuePair.Value</p>
        }
        <p>******</p>
    }
    // TODO #2 - Loop over jobs dictionary and display all job fields

}